NODE_ENV=development
PORT=5000

MONGODB_URI=mongodb://127.0.0.1:27017/hue_dev
# For MongoDB Atlas instead of local:
# MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/hue_dev

CLIENT_URL=http://localhost:5173
