NODE_ENV=development
PORT=5000

MONGODB_URI=mongodb://127.0.0.1:27017/echo_dev
# For MongoDB Atlas instead of local:
# MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/echo_dev

CLIENT_URL=http://localhost:5173

# authentication
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# for uploading images
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
